/* Customise the Navigation Bar */
.navbar {
    background-color:#333533;
}

.navbar a {
    color:grey;
    float: left;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}
.navbar a:hover {
    color:#F5CB5C;
}

.nav-item.active .nav-link{
    color: white;
}


.dropdown-menu {
    background-color: #333533;
}

.dropdown-menu a:hover{
    background-color: #333533;
}

/* Set background color */
body {
    background-color: #F4F1DE;
}

/* Social media icons */
.icon {	
	width: 50px;
	height: auto;
	border-radius: 50%;
	min-width: 15px;
    min-height: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/* Showcase CSS */
.ShowcaseRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .ShowcaseColumn {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .ShowcaseColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) {
    .ShowcaseColumn {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .ShowcaseColumn {
      flex: 100%;
      max-width: 100%;
    }
  }