/* Customise the Navigation Bar */
.navbar {
    background-color:#333533;
}

.navbar a {
    color:grey;
    float: left;
	display: block;
	padding: 14px 16px;
	text-decoration: none;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
}
.navbar a:hover {
    color:#F5CB5C;
}

.nav-item.active .nav-link{
    color: white;
}


.dropdown-menu {
    background-color: #333533;
}

.dropdown-menu a:hover{
    background-color: #333533;
}
